package {{ group_name }}.{{ app_name_lower }}.model.enums;

public enum {{ entity_name_cap }}{{ attribute_name_cap }} {
    {% for value in enum_values %}
    {{ value }}{% if not loop.last %},
    {% endif %}{% endfor %}

}
