package {{ group_name }}.{{ app_name_lower }}.repository;

import {{ group_name }}.{{ app_name_lower }}.model.TransitionHistory;
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;

import java.util.List;

@Repository
public interface TransitionHistoryRepository extends JpaRepository<TransitionHistory, Long> {

    List<TransitionHistory> findByProcessInstanceIdOrderByExecutedAtAsc(Long processInstanceId);

    List<TransitionHistory> findByExecutedBy(String executedBy);
}
