package {{ group_name }}.{{ app_name_lower }}.process.repository;

import {{ group_name }}.{{ app_name_lower }}.process.model.TransitionHistory;
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;

import java.util.List;

@Repository
public interface TransitionHistoryRepository extends JpaRepository<TransitionHistory, Long> {

    List<TransitionHistory> findByProcessInstanceIdOrderByTimestampAsc(Long processInstanceId);

    List<TransitionHistory> findByPerformedBy(String performedBy);
}
