package {{ group_name }}.{{ app_name_lower }}.dto;

import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
public class AvailableTransitionDTO {

    private String transitionName;
    private String fromState;
    private String toState;
    private String requiredRole;
    private boolean canExecute;
}
