package {{ group_name }}.{{ app_name_lower }}.dto;

import {{ group_name }}.{{ app_name_lower }}.model.ProcessInstance.ProcessStatus;
import com.fasterxml.jackson.annotation.JsonFormat;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

import java.time.LocalDateTime;
import java.util.Map;

@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
public class ProcessInstanceDTO {

    private Long id;
    private String processName;
    private String currentState;
    private ProcessStatus status;
    private String initiatedBy;
    private Map<String, Object> processVariables;

    @JsonFormat(pattern = "yyyy-MM-dd'T'HH:mm:ss")
    private LocalDateTime startedAt;

    @JsonFormat(pattern = "yyyy-MM-dd'T'HH:mm:ss")
    private LocalDateTime completedAt;

    private String terminatedReason;

    @JsonFormat(pattern = "yyyy-MM-dd'T'HH:mm:ss")
    private LocalDateTime suspendedAt;

    private String suspendedReason;
    private String suspendedBy;
}
