package {{ group_name }}.{{ app_name_lower }}.dto;

import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

import java.util.Map;

@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
public class StartProcessRequest {

    private String initiatedBy;
    private Map<String, Object> processVariables;
}
